<!-- 
  created by:   spitzc32
                LowkeyProgrammer

  Dependencies: Database Usage: firebase_admin
                                pyrebase
                Notifications:  onesignal
                Geolocation:    geocoder
                                goepy
                Website:        flask
  
  API's used:   Onesignal (https://documentation.onesignal.com/docs)
                GoQR    (http://goqr.me/api/)
                Google Maps Javascript API  (https://developers.google.com/maps/documentation/javascript/overview?utm_campaign=FY18-Q2-global-demandgen-paidsearchonnetworkhouseads-cs-maps_contactsal_saf&utm_term=KW_%2Bmaps+%2Bjavascript+%2Bapi-ST_%2Bmaps+%2Bjavascript+%2Bapi&gclid=Cj0KCQjwpNr4BRDYARIsAADIx9xMmu8a7d4cbVCNi5zsnymDvffv9cqynxmEhySNYfr4cwLOT88ZbuoaApxGEALw_wcB&utm_content=text-ad-none-none-DEV_c-CRE_434204568468-ADGP_Hybrid+%7C+AW+SEM+%7C+BKWS+%7E+Brand+%7C+BMM+%7C+Google+Maps+Javascript+API-KWID_43700053580897263-kwd-341556983684-userloc_9066820&utm_source=google&utm_medium=cpc)

  Web Application Dashboard: Usage
    - This page is used for the creating an Event or a Project that can use some Volunteers.   
-->

{% extends "base.html" %}
{% block title %}Relief Events{% endblock %}
{% block content %}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Create Relief Event</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{{url_for('index')}}">Home</a></li>
              <li><i class="icon_document_alt"></i>Forms</li>
              <li><i class="fa fa-file-text-o"></i>Create Relief Event</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Create Event
              </header>
              <div class="panel-body">
                <form class="form-horizontal " method="POST">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name of Event</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="EventName"  placeholder="Add text">
                      <span class="help-block">e.g. Relief Events, Programs, Volunteer Service</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Event Held By:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="EventHost" placeholder="Add text">
                      <span class="help-block">e.g. Short and Specific Details</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control ckeditor" name="Description" rows="6"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Qualifications</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="Qualifications"  placeholder="Add text">
                      <span class="help-block">e.g. Specific criteria and condition for volunteer</span>
                    </div>
                  </div>  
                  <div class="form-group">
                    <label class="control-label col-sm-2"> Date Range</label>
                    <div class="col-sm-10">
                      <div class="input-prepend">
                        <input id="reservation" type="text" name="RangeDate" class=" form-control" />
                        <span class="help-block">e.g. MM/dd/2YYY-MM/dd/2YYY</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2"> Location</label>
                    <div class="col-sm-10">
                      <div class="input-prepend">
                           <input type="checkbox" name="Location" onclick="showPos()" />Show my Location
                      </div>
                    </div>
                  </div>
                  
                  <input type="submit" class="btn btn-primary btn-lg btn-block">
                </form>
              </div>
            </section>
            <!-- End Of Events Section-->
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
   <!-- custom form validation script for this page-->
  <script src="{{url_for('static', filename='js/form-component.js')}}"></script>  
  {% endblock  %}
  <!-- container section end -->
  


